<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lịch sử đặt hàng</title>

<link rel="stylesheet" th:href="@{/css/historyorder.css}">
<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
<div th:replace="admin/layout/header :: header"></div>
<h2>📦 Lịch sử đặt hàng</h2>

<div class="container">

    <div class="layout">

        <!-- FILTER CARD -->
        <div class="card filter-card">

            <h3>Bộ lọc</h3>

           <form method="get" action="/admin/orders">

				<label>Tìm khách hàng</label>
				<input type="text" name="name" th:value="${name}">
				
				<label>Trạng thái</label>
				<select name="status">
				
				<option value="">Tất cả</option>
				
				 <option value="CHO_XAC_NHAN"
			        th:selected="${status == 'CHO_XAC_NHAN'}">
			        Chờ xác nhận
			    </option>
			
			    <option value="DANG_GIAO"
			        th:selected="${status == 'DANG_GIAO'}">
			        Đang giao
			    </option>
			
			    <option value="DA_GIAO"
			        th:selected="${status == 'DA_GIAO'}">
			        Đã giao
			    </option>
				
				</select>
				
				<button type="submit">Tìm</button>
				
			</form>

        </div>


        <!-- TABLE CARD -->
        <div class="card">

            <table>
			    <tr>
			       <th>ID</th>
					<th>Khách hàng</th>
					<th>Email</th>
					<th>SĐT</th>
					<th>Tổng tiền</th>
					
					<th>Thanh toán</th>
					<th>TT Thanh toán</th>
					
					<th>Trạng thái</th>
					<th>Thao tác</th>
			    </tr>
			
			    <tr th:each="o : ${orders}">
			        <td th:text="${o.id}"></td>
			        <td th:text="${o.fullname}"></td>
			        <td th:text="${o.email}"></td>
			        <td th:text="${o.phone}"></td>
			        <td th:text="${o.totalAmount}"></td>
			        <td th:text="${o.payment.paymentMethod}"></td>


					<td><span th:text="${o.payment.paymentStatus}"></span></td>
			
			        <td class="status-column">
			
			            <span th:if="${o.status == 'CHO_XAC_NHAN'}"
			                  class="status status-cho">
			                Chờ xác nhận
			            </span>
			
			            <span th:if="${o.status == 'DANG_GIAO'}"
			                  class="status status-dang">
			                Đang giao
			            </span>
			             <span th:if="${o.payment.paymentStatus == 'CHO_XAC_NHAN'}">
						        🏦 Chờ xác nhận
						  </span>
			
			            <span th:if="${o.status == 'DA_GIAO'}"
			                  class="status status-da">
			                Đã giao
			            </span>
			
			        </td>
			
			        <td>
			            <a th:href="@{/admin/orders/update/{id}(id=${o.id})}">
			                🔄 Đổi trạng thái
			            </a>
			
			            <a th:href="@{/admin/orders/{id}(id=${o.id})}">
			                👁 Xem
			            </a>
			            
			        </td>
			    </tr>
			
			</table>
        </div>

    </div>

</div>

</body>
</html>